body {
    display: flex;
    background-color: rgb(250, 182, 9);
    align-items: center;
    margin: 0%;
    height: 100vh;
    justify-content: center; 
} 
form {
    align-items: center;
    background-color:rgb(250, 247, 247);
    border-radius: 0px;
}
input {
    width: 80%;
    padding: 10px;
    margin:25px;
    border-radius: 10px;
   border-color:black;
}
